.pagination {
padding-left: 325px !important; 

}
.pay{
	font-size: initial;
}
.nav-tabs{
	border-bottom: 1px solid #dc0808 !important;
}
.materialdesign .mg-b-15, .materialdesign .materialdesign-alert{
	height: 410px !important;
	
}

.custom-menu-content ul.main-menu-dropdown{
	margin-top: 4% !important;
    margin-left: 10% !important;
}
 
.num{
	color: #d9534e !important;
}
 .icon{
	 color: #d9534e
 }

 .banklogodiv{
	 border: 1px solid;
	 border-radius: 2mm;
	 max-width: 280px;
    height: 76px;
 }
.check{
	color: #d9534e;
	font-size: 23px;
}

.wizard-card{
	height: 468px !important;
}
.nav-pills > li i{
	   font-size: 20px !important;
   }

.wizard-card .wizard-header{
	   padding: 21px 0 0px !important;
   }
body{
	font-family: monospace !important;
}

.mobileNumberInput{
	border: 2px solid #4caf50 !important;
	border-radius: 7px !important;
	font-size: 16px !important;
}










   